
body {
  box-sizing: border-box;
  font-family: 'Inknut Antiqua', serif;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../images/main_page_bkg.jpg);
  width: 99%;
  position: absolute;
  top: 0;
  left: 0;
}
header {
  margin-bottom: 1em;
}
.subheader {
  margin-top: -3em;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
  font-size: 2.8em;
  color: black;
}
h3 {
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: black;
  margin-top: -1em;
  padding: 0em 1em;
  text-shadow: 0px 1px 10px gray;
}
.main_page {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}
.main_page_columns {
  flex: 0 0 40%;
}

.clarandguitarimg {
  max-width: 100%;
  margin: 0em 1.6em;
  padding: -1.6em;
  border-radius: 5px;
}

.front_page_bio {
  background-color: rgba(153, 123, 56, .35);
  padding: .7em 1.3em;
  margin: 0em 2.6em;
  text-align: justify;
  border-radius: 5px;
  border: solid rgba(153, 123, 56, .35);
  box-shadow: 10px 10px 10px gray;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 900;
}

footer {
  text-align: center;
  height: 2em;
  position: absolute;
  bottom: -10;
  color: #997B38;
  font-weight: bold;
  font-size: 1.2em;
  /*text-align: center;*/
  width: 100%;
  height: 50px;
  text-shadow: 2px 2px 2px black;
}


.top, .bottom, .left, .right {
  background: #997B38;
  position: fixed;
}
.left, .right {
  top: 0; bottom: 0;
  width: 15px;
    }
.left { left: 0; }
.right { right: 0; }
    
.top, .bottom {
  left: 0; right: 0;
  height: 15px;
    }
.top { 
  top: 0; 
    }
.bottom { 
  bottom: 0; 
    }

@media only screen and (max-width: 500px){
  h1 {
    font-size: 2em;
  }
  .clarandguitarimg {
    padding: 0em;
    margin: 0em;
    justify-content: center;
    border-radius: 5px;
  }
  .front_page_bio {
    box-shadow: 0px 0px 0px gray;
    background-color: rgba(153, 123, 56, .85);
    border: solid rgba(153, 123, 56, .85);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .main_page {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
	.top, .bottom, .left, .right { 
    display: none; 
    }

}
@media only screen and (min-width: 501px) and (max-width: 768px) {
  .main_page {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
  .main_page_columns {
    flex: 0 0 14em;
  }
  .front_page_bio {
    box-shadow: 0px 0px 0px gray;
    background-color: rgba(153, 123, 56, .85);
    border: solid rgba(153, 123, 56, .85);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .clarandguitarimg {
    width:75%;
    margin: 0em 2.6em;
    padding: 0em;
    border-radius: 5px; 
  }
}
@media only screen and (min-width: 769px) and (max-width:991px) {

}
@media only screen and (min-width:992px) and (max-width:1199px){
  .main_page_columns {
    flex: 0 0 30em;
  }
}
@media only screen and (min-width:1201px) {
  .main_page_columns {
    flex: 0 0 40em;
  }
}

